/*
Colors used:
Primary Color: #ff210f;
Secondary Color: #ff7505;
Accent Colour: #ff7505
Background Colour: #ffffff
Text Colour: #000000
*/


header {
  background-color: #ffffff;
  padding: 0px 0;
  border-bottom: 1.5px solid #000000;
  text-align: : center
  position: fixed;
  width: 100%;
}

body {
  background-color: #ffffff;
  font-family: 'Overpass', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}


a {
  color: #ff210f;
  text-decoration: none; /* No underlining */
}
a:visited { /* visited link */
  color: #ffffff;
}
a:hover {
  color: #ff7505;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:focus {
  color: #ff7505;
  text-decoration: underline;
}
a:active { /* selected link */
  color: #ff7505;
}

nav a
nav a:visited
nav a:hover, nav a:focus
nav a:active

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #ff7f50;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 100px;
  margin: 40px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}


.button.contact:hover {
  background-color: #ff7505;
  color: #ffffff;
}


/* Layout styling */
.container {
  padding: 0px 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }

#hero h1 {
  text-align: left;
}

.logo {
    width: 100px;
    padding: 20px;
}

nav > ul > li > a:visited {
  padding: 0 15px;
  align-content: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;

}

.navbar {
  align: right
}

main {
  padding-top: 133px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  color: black;
}


/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: black;
  text-align: right;
  padding: 35px 20px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color:#ff210f;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #ff210f
  color: black;
}

.social svg {
width: 48px;
padding: 20px;
}
