/*
Colors used:
Primary Color: #ff210f;
Secondary Color: #ff7505;
Accent Colour: #ff7505
Background Colour: #ffffff
Text Colour: #000000
*/


header {
  background-color: #ffffff;
  text-align: center;
  padding: 0px 0;
  border-bottom: 1.5px solid #000000;
  position: fixed;
  width: 100%;
}

body {
  background-color: #ffffff;
  font-family: 'Overpass', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}


a {
  color: #black;
  text-decoration: none; /* No underlining */
}
a:visited { /* visited link */
  color: #black;
}
a:hover {
  color: #ff7505;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:focus {
  color: #ff7505;
  text-decoration: underline;
}
a:active { /* selected link */
  color: #ff7505;
}

nav a
nav a:visited
nav a:hover, nav a:focus
nav a:active

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #ff7f50;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 100px;
  margin: 40px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}


.button.contact:hover {
  background-color: #ff7505;
  color: #ffffff;
}


/* Layout styling */
.container {
  padding: 0px 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }

#hero {
  background-color: #ffffff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

.logo {
    width: 150px;
    padding: 20px;
}

.profile_picture  {
width: 300px
padding: 20px
}

nav > ul > li > a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #black;

}

nav > ul {
  list-style-type: none;
  padding: 0px;
}

nav > ul > li {
  display: inline-block;
  width: 100%;
}


main {
  padding-top: 133px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  color: black;
}


.social svg {
width: 48px;
padding: 20px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
  @media only screen and (min-width: 640px) {
    header {
      text-align: unset;
      padding: 20px 0 13px;
    }

    nav {
      width: auto;
      float: right;
      margin-top: 4px;
    }
  }
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
